<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="stylesheet" th:href="@{~/css/latofonts.css}" href="" />
        <link rel="stylesheet" th:href="@{~/css/semantic.min.css}" href="" />

        <title>DEMO | Multiple Datasource</title>
    </head>
    <body>
    </body>
</html>