<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <link rel="stylesheet" href="../../static/css/semantic.min.css" type="text/css"/>
        <title>DEMO | Multiple Datasource</title>
    </head>
    <body>
        <div th:fragment="navbar" class="ui top fixed borderless fluid menu">
            <a class="header item" href="/">Demo Spring Boot</a>
        </div>
    </body>
</html>